:root {
  --font-family: "Arial", serif;
  --background-color: #ffffff;
  --background-color-10: #e6e6e6;
  --foreground-color: #333333;
  --foreground-color-10: #00000085;
  --flag-size: 14px;
  --font-size: 14px;
  --line-height: 18px;
  --container-height: 400px;
  --container-width: 230px;
}

:global(body) {
  margin: 0;
}

:global(#root) {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.app {
  padding: 16px;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 400px;
}
