.item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;

  display: flex;
  gap: 8px;
  padding: 4px 10px 4px 10px;
}

.itemFlag {
  flex-basis: 14px;
  flex-shrink: 0;
}

.itemSelected, .item:hover {
  cursor: pointer;
  background-color: #FFDBB3;
}

.listHeader {
  margin-top: 4px;
}

.listFooter {
  margin-bottom: 4px;
}
