.item {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--foreground-color);

  display: flex;
  gap: 8px;
  padding: 4px 10px 4px 10px;
}

.itemFlag {
  flex-basis: var(--flag-size);
  flex-shrink: 0;
}

.itemSelected,
.item:hover {
  cursor: pointer;
  background-color: #FFDBB3;
}
